.card {
    display: inline-block;
    width: 45%;
    font-size: 18pt;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(146, 241, 241);
    box-sizing: border-box;
    padding: 10px;
    font-size: 18pt;
    font-weight: bold;
    color: rgb(3, 32, 94);
}

.card img{
    vertical-align: middle;
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin: 20px;
}

#visualizzatoreMultiplo {
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#modalCard {
    /* display: none; */
    background-color: pink;
    background-color: rgb(70, 247, 247);
}

.mymodalHeaderCard {
  text-align: center;
  margin: 10px auto;

}

.mymodalHeaderCard img {
    border-radius: 10px;
    
}
.mymodalContentCard {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  border: 1px solid black; 
  margin-top: 20px;
}

