.card {
  display: inline-block;
  width: 400px;
  font-size: 18pt;
  height: 230px;
  border-radius: 10px;
  margin: 10px;
  /* background-color: rgb(70, 247, 247); */
  box-sizing: border-box;
  padding: 10px;
  font-size: 18pt;
  font-weight: bold;
  color: rgb(3, 32, 94);
  transition: all 0.2s ease;
}

.card:hover {
    cursor: pointer;
}

.card.hovered {
  width: 410px;
  height: 240px;
}

.card img {
  vertical-align: middle;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}

#visualizzatoreMultiplo {
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#modalCard {
  display: none;
  height: 55%;
}

.maschio {
  background-color: rgb(70, 247, 247);
}

.femmina {
  background-color: pink;
}

.mymodalHeaderCard {
  text-align: center;
  margin: 10px auto;
}

.mymodalHeaderCard img {
  border-radius: 10px;
}
.mymodalContentCard {
  display: grid;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  border: 3px solid rgb(19, 48, 145);
  margin-top: 20px;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  row-gap: 10px;
  border-radius: 10px;
}

.mymodalContentCard .txt {
  height: 30px;
  border-radius: 7px;
  padding-left: 5px;
  font-size: 12pt;
  font-weight: bold;
  border: none;
}

.mymodalContentCard label {
  font-size: 14pt;
  text-align: left;
  color: rgb(19, 48, 145);
  font-weight: bold;
}


