@media (max-width: 1600px) {
  #wrapper {
    width: 80%;
  }
  .card {
    width: 340px;
    height: 220px;
  }
  .card.hovered {
    width: 350px;
    height: 230px;
  }

  .mymodal {
    width: 35%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}
@media (max-width: 1420px) {
  #wrapper {
    width: 90%;
  }
  .card {
    width: 320px;
    height: 210px;
  }
  .card.hovered {
    width: 330px;
    height: 220px;
  }

  .mymodal {
    width: 45%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}

@media (max-width: 1200px) {
  #wrapper {
    width: 90%;
  }
  .card {
    width: 300px;
    height: 210px;
  }
  .card.hovered {
    width: 310px;
    height: 220px;
  }

  .mymodal {
    width: 40%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}

@media (max-width: 1126px) {
  #wrapper {
    width: 80%;
  }
  .card {
    width: 500px;
    height: 250px;
  }
  .card.hovered {
    width: 510px;
    height: 260px;
  }

  .mymodal {
    width: 50%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}

@media (max-width: 1070px) {
  #wrapper {
    width: 80%;
  }
  .card {
    width: 500px;
    height: 250px;
  }
  .card.hovered {
    width: 520px;
    height: 260px;
  }

  .mymodal {
    width: 60%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
  .bg {
    background-size: 500% 500%;
  }
}

@media (max-width: 1024px) {
  #wrapper {
    width: 90%;
  }
  .card {
    width: 500px;
    height: 250px;
  }
  .card.hovered {
    width: 520px;
    height: 260px;
  }

  .mymodal {
    width: 50%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}

@media (max-width: 932px) {
  #wrapper {
    width: 100%;
  }
  .card {
    width: 450px;
    height: 210px;
  }
  .card.hovered {
    width: 460px;
    height: 220px;
  }

  .mymodal {
    width: 60%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}

@media (max-width: 768px) {
  #wrapper {
    width: 90%;
  }
  .card {
    width: 400px;
    height: 210px;
  }
  .card.hovered {
    width: 410px;
    height: 220px;
  }

  .mymodal {
    width: 80%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}
@media (max-width: 600px) {
  header {
    width: 60%;
  }

  #wrapper {
    width: 90%;
  }
  .card {
    width: 300px;
    height: 210px;
  }
  .card.hovered {
    width: 310px;
    height: 220px;
  }

  .mymodal {
    width: 90%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
  #contenitoreSelect label {
    font-size: 14pt
  }
}

@media (max-width: 550px) {
  header {
    width: 60%;
  }

  #wrapper {
    width: 100%;
  }
  .card {
    width: 250px;
    height: 210px;
  }
  .card.hovered {
    width: 260px;
    height: 220px;
  }

  .mymodal {
    width: 90%;
    height: 90%;
  }
  #modalCard {
    height: 70%;
  }
}


@media (max-height: 700px) {
    #modalCard {
    height: 90%;
  }
}
