.nazione-AU {
  border: 3px solid #012169;
  box-shadow: 0 0 10px #012169;
}
.nazione-BR {
  border: 3px solid #009739;
  box-shadow: 0 0 10px #fedd00;
}
.nazione-CA {
  border: 3px solid #ff0000;
  box-shadow: 0 0 10px #ff0000;
}
.nazione-DK {
  border: 3px solid #c60c30;
  box-shadow: 0 0 10px #c60c30;
}
.nazione-FI {
  border: 3px solid #003580;
  box-shadow: 0 0 10px #003580;
}
.nazione-DE {
  border: 3px solid #000000;
  box-shadow: 0 0 10px #dd0000;
}
.nazione-IN {
  border: 3px solid #ff9933;
  box-shadow: 0 0 10px #138808;
}
.nazione-IR {
  border: 3px solid #239f40;
  box-shadow: 0 0 10px #da0000;
}
.nazione-IE {
  border: 3px solid #169b62;
  box-shadow: 0 0 10px #ff883e;
}
.nazione-MX {
  border: 3px solid #006847;
  box-shadow: 0 0 10px #ce1126;
}
.nazione-NO {
  border: 3px solid #ba0c2f;
  box-shadow: 0 0 10px #00205b;
}
.nazione-NZ {
  border: 3px solid #012169;
  box-shadow: 0 0 10px #c8102e;
}
.nazione-NL {
  border: 3px solid #ae1c28;
  box-shadow: 0 0 10px #21468b;
}
.nazione-GB {
  border: 3px solid #012169;
  box-shadow: 0 0 10px #c8102e;
}
.nazione-RS {
  border: 3px solid #c6363c;
  box-shadow: 0 0 10px #0c4076;
}
.nazione-ES {
  border: 3px solid #aa151b;
  box-shadow: 0 0 10px #f1bf00;
}
.nazione-CH {
  border: 3px solid #d52b1e;
  box-shadow: 0 0 10px #ffffff;
}
.nazione-TR {
  border: 3px solid #e30a17;
  box-shadow: 0 0 10px #e30a17;
}
.nazione-UA {
  border: 3px solid #0057b7;
  box-shadow: 0 0 10px #ffd700;
}
.nazione-US {
  border: 3px solid #3c3b6e;
  box-shadow: 0 0 10px #b22234;
}
