.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
html,
body,
#wrapper {
  height: 100%;
  font-family: monospace;
  scroll-behavior: smooth;
}
#wrapper {
  text-align: center;
  margin: auto;
  width: 70%;
  /* border: 1px solid black;  */
  padding: 20px;
}

header {
  font-size: 20pt;
  color: rgb(236, 236, 236);
  width: 40%;
  padding: 20px;
  margin: 0 auto;
  border: 3px solid rgb(12, 127, 180);
  border-radius: 15px;
  margin-bottom: 100px;
}

header h1 {
  color: rgb(115, 221, 240);
  font-size: 30pt;
}

header div {
  margin: 10px;
}

#main {
  margin: 0 auto;
  width: 80%;
  border: 4px solid rgb(12, 127, 180);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

#btnsWrapper {
  margin-bottom: 100px;
}

#btnsWrapper button {
  padding: 20px;
  width: 200px;
  height: 50px;
  font-size: 24pt;
  border-radius: 20px;
  color: #0d4258;
  background-color: rgb(131, 194, 223);
  margin: 20px;
  border: 0px;
}

#btnsWrapper button:hover {
  cursor: pointer;
}

#modalImpostazioni {
  display: none;
}

.btnChiudi:hover {
  cursor: pointer;
}

#modalOrdinamenti {
  display: none;
}
.mymodal {
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  width: 30%;
  height: 65%;
  overflow: auto;
  border-radius: 20px;
  background-color: rgb(150, 219, 219);
  overflow-y: scroll;
  scrollbar-width: none;
}

.mymodal::-webkit-scrollbar {
  display: none;
}

.mymodalHeader {
  font-size: 15pt;
  text-align: center;
  /* border: 1px solid black; */
  color: #0b4b66;
}

.mymodalHeader p {
  text-align: center;
  margin: 0 auto;
}

.mymodal p {
  text-align: right;
  margin: 10px 10px;
}

.mymodal p button {
  width: 30px;
  height: 30px;
  background-color: red;
  border: 0px;
  border-radius: 4px;
  color: #fff;
}

.mymodalContent {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  /* border: 1px solid black; */
  margin-top: 20px;
}

.contenitoreSlider {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
}

.contenitoreSlider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.contenitoreSlider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04a3d3;
  cursor: pointer;
}

.contenitoreSlider input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

#contenitoreImmagini {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}
#contenitoreImmagini div {
  width: 100px;
  height: 167px;
  margin: 10px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}
#contenitoreImmagini div:hover {
  cursor: pointer;
}

.mymodalContent h1 {
  margin-top: 20px;
}

.selectedGender {
  box-shadow: 0 0 12px 4px ;
  border: solid 3px ;
}

#btnGenera {
  padding: 20px;
  border-radius: 5px;
  background-color: #6dc0da;
  font-weight: bold;
  color: #16546e;
  border: none;
  font-size: 18pt;
  margin: 10px;
}

#btnGenera:hover {
  cursor: pointer;
}

.divNazioni {
  display: inline-block;
  /* border: 2px solid #0b4b66; */
  margin: 10px;
}

.divNazioni img {
  width: 65px;
  height: 40px;
  border-radius: 4px;
  box-sizing: border-box;
}
.divNazioni img:hover {
  cursor: pointer;
}

.divNazioni input {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.divNazioni input[type="checkbox"]:checked {
  width: 15px;
  height: 15px;
  background: #046583;
  cursor: pointer;
}

.divNazioni label {
  display: block;
  margin-top: 5px;
}

#pulisciNazioni {
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  background-color: #6dc0da;
  font-weight: bold;
  color: #16546e;
  font-size: 12pt;
  border-width: 0px;
}
#pulisciNazioni:hover {
  cursor: pointer;
}

#btnAltri {
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  background-color: #6dc0da;
  font-weight: bold;
  color: #16546e;
  font-size: 12pt;
  border-width: 0px;
}

#btnAltri:hover {
  cursor: pointer;
}

#btnOrdina {
  width: 70px;
  padding: 10px;
  border-radius: 5px;
  background-color: #6dc0da;
  font-weight: bold;
  color: #16546e;
  border: none;
  font-size: 12pt;
}

#btnOrdina:hover {
  cursor: pointer;
}

#cmbOrdinamneti {
  font-size: 14pt;
  padding: 10px;
  text-align: center;
  margin: 20px;
  border-radius: 7px;
  width: 50%;
  text-align: center;
}

#contenitoreSelect {
  text-align: center;
}

#contenitoreSelect input:hover {
  cursor: pointer;
}

#contenitoreSelect input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#contenitoreSelect input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#contenitoreSelect input[type="radio"]:checked {
  width: 15px;
  height: 15px;
  background: #046583;
  cursor: pointer;
}

#contenitoreSelect input[type="checkbox"]:checked {
  width: 15px;
  height: 15px;
  background: #046583;
  cursor: pointer;
}

.bg {
  background: linear-gradient(120deg, #0a2835, #203a43, #254655);
  background-size: 400% 400%;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#searchBar {
  font-size: 24px;
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
}
#navButtons {
  margin: 20px;
}
#navButtons span{
  font-size: 30pt;
}

#navButtons span:hover {
  cursor: pointer;
}